* {
  margin: 0;
  padding: 0;
}

:root {
  --animHeight: calc(100vw * 0.51);
}

.heroAnim {
  overflow-y: hidden;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: var(--animHeight);
  max-height: var(--animHeight);
  /* height: 100vh;
    max-height: 100vh; */
  width: 100%;
  max-width: 100%;
  /* text-align: center; */
  /* FONDO */
  /* FIN FONDO */
  /* BICHO HEAD */
  /* FIN BICHO HEAD */
  /* BICHO HANDS */
  /* FIN BICHO HANDS */
  /* HOST HEAD */
  /* FIN HOST HEAD */
}

.heroAnim .heroBG {
  position: absolute;
  height: 200%;
  width: 100%;
  /* background-image: url("/img/bg.jpg"); */
  -webkit-animation-name: heroBG;
          animation-name: heroBG;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  z-index: 1;
}

.heroAnim .heroBG img {
  width: 100%;
  height: auto;
}

.heroAnim .bichoHead {
  position: absolute;
  width: 100%;
  max-width: 100%;
  -webkit-animation-name: bichoHead;
          animation-name: bichoHead;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  z-index: 2;
}

.heroAnim .bichoHead img {
  position: absolute;
  bottom: 0;
  width: 80%;
  height: auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.heroAnim .bichoHands {
  position: absolute;
  width: 100%;
  max-width: 100%;
  -webkit-animation-name: bichoHands;
          animation-name: bichoHands;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  z-index: 2;
}

.heroAnim .bichoHands img {
  position: absolute;
  bottom: 0;
  width: 80%;
  height: auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.heroAnim .heroHost {
  position: absolute;
  width: 100%;
  max-width: 100%;
  -webkit-animation-name: heroHost;
          animation-name: heroHost;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  z-index: 3;
}

.heroAnim .heroHost img {
  position: absolute;
  bottom: 0;
  width: 80%;
  height: auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.heroAnim .pause {
  animation-play-state: paused !important;
  -webkit-animation-play-state: paused !important;
  -moz-animation-play-state: paused !important;
}

.heroAnim .play {
  animation-play-state: running !important;
  -webkit-animation-play-state: running !important;
  -moz-animation-play-state: running !important;
}

@-webkit-keyframes heroBG {
  0% {
    top: 0;
  }
  100% {
    top: -90%;
  }
}

@keyframes heroBG {
  0% {
    top: 0;
  }
  100% {
    top: -90%;
  }
}

@-webkit-keyframes bichoHead {
  0% {
    bottom: -140%;
    -webkit-filter: brightness(0%);
            filter: brightness(0%);
  }
  15% {
    bottom: -140%;
    -webkit-filter: brightness(0%);
            filter: brightness(0%);
  }
  75% {
    -webkit-filter: brightness(15%);
            filter: brightness(15%);
  }
  100% {
    bottom: -20%;
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }
}

@keyframes bichoHead {
  0% {
    bottom: -140%;
    -webkit-filter: brightness(0%);
            filter: brightness(0%);
  }
  15% {
    bottom: -140%;
    -webkit-filter: brightness(0%);
            filter: brightness(0%);
  }
  75% {
    -webkit-filter: brightness(15%);
            filter: brightness(15%);
  }
  100% {
    bottom: -20%;
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }
}

@-webkit-keyframes bichoHands {
  0% {
    bottom: -180%;
    -webkit-filter: brightness(0%);
            filter: brightness(0%);
  }
  15% {
    bottom: -180%;
    -webkit-filter: brightness(0%);
            filter: brightness(0%);
  }
  65% {
    -webkit-filter: brightness(15%);
            filter: brightness(15%);
  }
  100% {
    bottom: -20%;
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }
}

@keyframes bichoHands {
  0% {
    bottom: -180%;
    -webkit-filter: brightness(0%);
            filter: brightness(0%);
  }
  15% {
    bottom: -180%;
    -webkit-filter: brightness(0%);
            filter: brightness(0%);
  }
  65% {
    -webkit-filter: brightness(15%);
            filter: brightness(15%);
  }
  100% {
    bottom: -20%;
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }
}

@-webkit-keyframes heroHost {
  0% {
    bottom: 0%;
  }
  15% {
    bottom: 0%;
  }
  100% {
    bottom: -23%;
  }
}

@keyframes heroHost {
  0% {
    bottom: 0%;
  }
  15% {
    bottom: 0%;
  }
  100% {
    bottom: -23%;
  }
}

.pageContent {
  position: absolute;
  top: var(--animHeight);
  z-index: 999;
  background: black;
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=style.css.map */